<div class="container">
  <div class="row mt-5 mb-3">
    <h3 class="mx-auto">人気グルメランキング</h3>
  </div>
  <% @items.each do |item| %>
    <div class="card p-2 mt-3">
      <div class="row">
      <%= link_to store_item_path(item.store_id, item.id), class: "text-dark" do %>
        <div class="col-12">
          <div class="card-img-top"><%= image_tag item.image, style: "width: 100%;" %></div>
        </div>
        <div class="col-12 mt-1">
          <h4><strong><%= item.name %></strong></h4>
          <h4><strong>¥ <%= item.with_tax_price.to_s(:delimited) %></strong></h4>
          <p class="explanation-text"><%= item.explanation %></p>
          <i class="fas fa-store-alt"></i> <span><%= item.store.name%></span>
        </div>
      <% end %>
      </div>
    </div>
  <% end %>
  <div class="row">
    <h5 style="margin-bottom: 100px;"></h5>
  </div>
</div>
