<header id="home">
  <h1 id="logo" class="w-100 text-center">
    <div class="logo-container">
      <a class="top-logo mx-auto" href="/">StadiumGourmet</a><br>
      <a class="top-logo2" href="/">〜スタジアムグルメ〜</a>
    </div>
  </h1>
  <nav id="menubar" class="w-100">
    <ul>
      <% unless customer_signed_in? %>
        <li>
          <a href="#rogin"><i class="fas fa-sign-in-alt"></i> Log In</a>
        </li>
      <% end %>
      <li>
        <a href="#new"><i class="fas fa-star"></i> New Gourmet</a>
      </li>
      <li>
        <a href="#ranking"><i class="fas fa-crown"></i> Gourmet Ranking</a>
      </li>
      <li class="mt-5">
        <a href="#usage"><i class="fas fa-lightbulb"></i> こちらのサイトについて</a>
      </li>
      <li>
        <a href='/homes/faq'><i class="fas fa-question"></i> FAQ</a>
      </li>
    </ul>
  </nav>
</header>
<div class="container">
  <% unless customer_signed_in? %>
  <section id="rogin">
    <div class="row mb-3 logo">
      <h3>ログイン</h3>
    </div>
    <div class="row logbtn">
      <%= link_to 'ゲストログイン(閲覧用)', customers_guest_sign_in_path, class: "btn btnlog mx-auto w-75", method: :post %>
    </div>
    <div class="row logbtn">
      <%= link_to "会員登録", new_customer_registration_path, class: "btn btnlog mx-auto w-75" %>
    </div>
    <div class="row logbtn">
      <%= link_to "ログイン", new_customer_session_path, class: "btn btnlog mx-auto w-75" %>
    </div>
  </section>
  <% end %>
  <section id="new">
    <div class="row mt-5 mb-3">
      <h3 class="mx-auto">新着グルメ</h3>
    </div>
    <% @items_new.each do |item| %>
      <div class="card new-card p-2 mt-3">
        <div class="row">
        <%= link_to store_item_path(item.store_id, item.id), class: "text-dark" do %>
          <div class="col-12">
            <div class="card-img-top"><%= image_tag item.image, class: "item-img" %></div>
          </div>
          <div class="col-12 mt-1">
            <h4><strong><%= item.name %></strong></h4>
            <h4><strong>¥ <%= item.with_tax_price.to_s(:delimited) %></strong></h4>
            <p class="explanation-text"><%= item.explanation %></p>
            <i class="fas fa-store-alt"></i> <span><%= item.store.name%></span>
          </div>
        <% end %>
        </div>
      </div>
    <% end %>
  </section>
  <section id="ranking">
    <div class="row mb-3 logo">
      <h3>人気グルメランキング</h3>
    </div>
    <% @items_rank.each.with_index(1) do |item, i| %>
      <div class="card ranking-card p-2 mt-3 rank-<%= i %>">
        <div class="row">
          <h1 class="number-<%= i %> bg-dark ml-3"><%= i %>位</h1>
          <%= link_to store_item_path(item.store_id, item.id), class: "text-dark" do %>
            <div class="col-12">
              <div class="card-img-top"><%= image_tag item.image, class: "item-img" %></div>
            </div>
            <div class="col-12 mt-1">
              <h4><strong><%= item.name %></strong></h4>
              <h4><strong>¥ <%= item.with_tax_price.to_s(:delimited) %></strong></h4>
              <p class="explanation-text"><%= item.explanation %></p>
              <i class="fas fa-store-alt"></i> <span><%= item.store.name %></span>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </section>
  <section id="usage">
    <div class="row mb-3 logo">
      <h3 class="mx-auto">こちらのサイトについて</h3>
    </div>
    <div class="row">
      <div class="card mx-auto">
        <h5>
          こちらのサイトは球場内で使用できるECサイトです。<br>
          会員登録をすることで商品を閲覧、購入することができます。<br>
          支払い方法はクレジットカード限定となります。<br>
          ゲストログインの場合は商品を閲覧することしかできません。<br>
        </h5>
      </div>
      <div class="card mx-auto mt-3">
        <h5>
          購入したい商品をカートに入れて注文することで商品を購入することができます。<br>
          注文の際にご自身の座席情報を入力してください。
        </h5>
      </div>
      <div class="card mx-auto mt-3">
        <h5>
          注文が完了しましたらご自身の席にて商品の到着をお待ちください。<br>
          係のものが商品をお届けに参ります。
        </h5>
      </div>
      <div class="card mx-auto mt-3">
        <h5>
          商品の受け渡しが完了しましたら取引の完了です。<br>
          ご自身の席でお好きな商品を購入してください!!
        </h5>
      </div>
    </div>
  </section>
  <div class="back">
    <a href="" class="btn btn--circle btn--circle-c btn--shadow"><i class="fas fa-arrow-up"></i></a>
  </div>
    <div class="page-under"></div>
</div>
