<header id="home">
  <h1 id="logo" class="text-center">
      <a class="p-2 bg-dark" style="color: #a6ce39;" href="/">StadiumGourmet</a>
  </h1>
  <nav id="menubar" class="w-100 text-center">
    <ul style="list-style: none; padding-left: 0;">
      <% unless customer_signed_in? %>
        <li>
          <a style="color: #a6ce39;" href="#rogin"><i class="fas fa-sign-in-alt"></i> Log In</a>
        </li>
      <% end %>
      <li>
        <a style="color: #a6ce39;" href="#new"><i class="fas fa-star"></i> New Gourmet</a>
      </li>
      <li>
        <a style="color: #a6ce39;" href="#ranking"><i class="fas fa-crown"></i> Gourmet Ranking</a>
      </li>
      <li class="mt-5">
        <a style="color: #a6ce39;" href="#usage"><i class="fas fa-lightbulb"></i> 使いかたはこちら</a>
      </li>
    </ul>
  </nav>
</header>
<div class="container">
  <% unless customer_signed_in? %>
  <section id="rogin" style="height: 100vh;">
    <div class="row mt-5 mb-3">
      <h3>ログイン</h3>
    </div>
    <div class="row" style="margin-top: 50px; height: 50px;">
      <%= link_to 'ゲストログイン', customers_guest_sign_in_path, class: "btn btn-secondary mx-auto w-50 sign_in", style: "line-height: 50px;", method: :post %>
    </div>
    <div class="row" style="margin-top: 50px; height: 50px;">
      <%= link_to "会員登録", new_customer_registration_path, class: "btn btn-primary mx-auto w-50", style: "line-height: 50px;" %>
    </div>
    <div class="row" style="margin-top: 50px; height: 50px;">
      <%= link_to "ログイン", new_customer_session_path, class: "btn btn-primary mx-auto w-50", style: "line-height: 50px;" %>
    </div>
  </section>
  <% end %>
  <section id="new">
    <div class="row mt-5 mb-3">
      <h3 class="mx-auto">新着グルメ</h3>
    </div>
    <% @items_new.each do |item| %>
      <div class="card p-2 mt-3">
        <div class="row">
        <%= link_to store_item_path(item.store_id, item.id), class: "text-dark" do %>
          <div class="col-12">
            <div class="card-img-top"><%= image_tag item.image, style: "width: 100%;" %></div>
          </div>
          <div class="col-12 mt-1">
            <h4><strong><%= item.name %></strong></h4>
            <h4><strong>¥ <%= item.with_tax_price.to_s(:delimited) %></strong></h4>
            <p class="explanation-text"><%= item.explanation %></p>
            <i class="fas fa-store-alt"></i> <span><%= item.store.name%></span>
          </div>
        <% end %>
        </div>
      </div>
    <% end %>
  </section>
  <section id="ranking">
    <div class="row mt-5 mb-3">
      <h3>人気グルメランキング</h3>
    </div>
    <% @items_rank.each do |item| %>
      <div class="card p-2 mt-3">
        <div class="row">
        <%= link_to store_item_path(item.store_id, item.id), class: "text-dark" do %>
          <div class="col-12">
            <div class="card-img-top"><%= image_tag item.image, style: "width: 100%;" %></div>
          </div>
          <div class="col-12 mt-1">
            <h4><strong><%= item.name %></strong></h4>
            <h4><strong>¥ <%= item.with_tax_price.to_s(:delimited) %></strong></h4>
            <p class="explanation-text"><%= item.explanation %></p>
            <i class="fas fa-store-alt"></i> <span><%= item.store.name %></span>
          </div>
        <% end %>
        </div>
      </div>
    <% end %>
  </section>
  <section id="usage">
    <div class="row mt-5 mb-3">
      <h3 class="mx-auto">使いかた</h3>
    </div>
    <div class="row">
      <div class="card">
        <h5>こちらのサイトは球場内で使用できるECサイトです。</h5>
      </div>
    </div>
  </section>
  <div class="row">
    <h5 style="margin-bottom: 100px;"></h5>
  </div>
</div>
