<div class="container">
  <% if @store.owner_flag == false %>
  <div class="row mb-1">
    <h2 class="bg-light"><%= @store.name %></h2>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="ml-5 mr-5"><%= image_tag @store.get_image(200,200) %></div>
    </div>
    <div class="col-md-3">
      <table class="table table-border table-light  table-striped table-hover mt-5">
        <tr>
          <th>販売エリア</th>
          <td><%= @store.sale_area.name %></td>
        </tr>
        <tr>
          <th>販売商品数</th>
          <td><%= @store.items.count %></td>
        </tr>
      </table>
      <% if current_admin_store.owner_flag == true %>
        <%= link_to "注文履歴", admin_store_orders_path(@store.id), class: "btn btn-warning" %>
        <%= link_to "データ確認", admin_store_data_graphs_path(@store.id), class: "btn btn-danger" %>
      <% end %>
    </div>
  </div>
  <div class="row mt-5 mb-1">
    <h4 class="subtitle">販売商品一覧</h4>
  </div>
  <div class="row">
    <table class="table table-border table-light table-striped table-hover">
      <thead>
        <th width="15%">商品画像</th>
        <th width="25%">商品名</th>
        <th width="15%">カテゴリー名</th>
        <th width="10%">価格</th>
        <th width="15%">販売ステータス</th>
        <th width="15%">在庫数</th>
        <th width="15%"></th>
      </thead>
      <% @items.each do |item| %>
        <tbody>
          <td><%= image_tag item.get_image(50,50) %></td>
          <td><%= item.name %></td>
          <td><%= item.category.name %></td>
          <td><%= item.with_tax_price.to_s(:delimited) %></td>
          <td>
            <% if item.is_active == true %>
              <span class="text-success font-weight-bold">販売中</span>
            <% else %>
              <span class="text-secondary font-weight-bold">売り切れ</span>
            <% end %>
          </td>
          <td><%= item.stock %></td>
          <td><%= link_to "Show", admin_store_item_path(@store.id, item.id), class: "btn btn-info" %></td>
        </tbody>
      <% end %>
    </table>
  </div>
  <div class="page-under"></div>
  <% else %>
  <h1>管理人</h1>
  <% end %>
</div>