<div class="container">
  <div class="row mt-5 mb-3">
    <h3 class="bg-light"><strong><%= @sale_area.name %></strong> 店舗一覧</h3>
  </div>
  <div class="row">
    <% @stores.each do |store| %>
    <div class="col-6 mt-3">
      <div class="row">
        <div class="card sale-card mx-auto">
          <%= link_to store_path(store.id), class: "text-dark" do %>
          <div class="card-img-top"><%= image_tag store.image, class: "store-img" %></div>
          <table class="table table-borderless table-sm">
            <tr>
              <th><i class="fas fa-store-alt"></i></th>
              <td class="card-title long-name"><strong><%= store.name %></strong></td>
            </tr>
          </table>
          <p class="text-center">販売商品数:<span class="ml-3"><%= store.items.count %></span></p>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>