<div class="container">
  <div class="row mt-5 mb-3">
    <h3><strong><%= @category.name %></strong>  一覧</h3>
  </div>
  <div class="row">
    <% @items.each do |item| %>
    <div class="col-6 mt-3">
      <div class="row">
        <div class="card category-card mx-auto">
          <%= link_to store_item_path(item.store_id, item.id), class: "text-dark" do %>
            <div class="card-img-top"><%= image_tag item.image, class: "item-img" %></div>
            <h5 class="card-title long-name"><%= item.name %></h5>
            ￥ <%= item.with_tax_price.to_s(:delimited) %>
            <table class="table table-borderless table-sm">
              <tr>
                <th><i class="fas fa-store-alt"></i></th>
                <td class="long-name"><%= item.store.name %></td>
              </tr>
            </table>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <div class="row">
    <h5 style="margin-bottom: 150px;"></h5>
  </div>
</div>