<div class="container">
  <div class="row mt-5">
    <h3 class="bg-dark">注文情報入力</h3>
  </div>
  <div class="card">
    <div class="row mt-3 ml-3">
      <h4 class="bg-dark">支払い方法</h4>
    </div>
    <div class="row mt-2 mb-3">
      <p class="text-dark mx-auto">クレジットカード</p>
    </div>
  </div>
  <div class="card mt-3">
    <div class="row mt-3 ml-3">
      <h4 class="bg-dark">座席情報入力</h4>
    </div>
    <div class="row mt-2">
      <p class="text-dark mx-auto">ご自身の座席番号を入力してください。</p>
    </div>
    <%= form_with model: @order, url: orders_confirm_path, mathod: :post do |f| %>
    <div class="row mt-3">
      <div class="col-8 mx-auto text-dark">
        <%= f.label :座席エリア %><br />
        <%= f.select :seat_area, [["バックネット裏エリア"],["一塁側エリア"],["三塁側エリア"],["レフト側エリア"],["ライト側エリア"]], { include_blank: "エリアを選択" }, class: "form-control" %>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-8 mx-auto text-dark">
        <%= f.label :座席アルファベット %><br />
        <%= f.select :seat_alphabet, [["A"],["B"],["C"],["D"],["E"],["G"],["H"],["I"],["J"],["K"],["L"],["M"],["N"],["O"],["P"],["Q"],["R"],["S"],["T"],["U"],["V"],["W"],["X"],["Y"],["Z"]], { include_blank: "アルファベットを選択" }, class: "form-control" %>
      </div>
    </div>
    <div class="row mt-3 mb-3">
      <div class="col-8 mx-auto text-dark">
        <%= f.label :座席番号 %><br />
        <%= f.select :seat_number, *[1..100], { include_blank: "番号を選択" }, class: "form-control" %>
      </div>
    </div>
    <div class="row">
      <div class="mx-auto text-danger"><%= alert %></div>
    </div>
  </div>
  <div class="mt-5 text-center">
    <%= f.submit "確認画面へ", class: "btn btn-primary", style: "width: 30%" %>
  </div>
  <% end %>
</div>