<div class="container">
<% if @order.order_status_i18n == "お客様不在" %>
  <div class="row">
    <div class="card order-show-card mx-auto p-3">
      <h1><i class="fas fa-exclamation-triangle text-danger"></i></h1>
      <div class="row">
        <h4 class="text-danger ml-3">商品のお届けに参りましたが不在のため持ち帰りました。</h4>
      </div>
      <div class="row trouble mx-auto">
        <h5 class="row mt-3 text-dark">お手数ですが、店舗まで商品を受け取りに来てください。</h5>
      </div>
    </div>
  </div>
<% end %>
  <div class="row mt-5">
    <h3>注文情報</h3>
  </div>
  <% @order_details.each do |order_detail| %>
    <% @product_total += order_detail.subtotal %>
  <% end %>
  <div class="row">
    <table class="table order-show-table table-striped table-light mx-auto mt-3">
      <tr>
        <th>注文日</th>
        <td><%= @order.created_at.strftime('%Y/%m/%d/%H:%M') %></td>
      </tr>
      <tr>
        <th>注文番号</th>
        <td><%= @order.order_number %></td>
      </tr>
      <tr>
        <th>座席情報</th>
        <td>
          <span><%= @order.seat_area %></span>-
          <span><%= @order.seat_alphabet %></span>-
          <span><%= @order.seat_number %></span>
        </td>
      </tr>
      <tr>
        <th>支払い方法</th>
        <td>クレジットカード</td>
      </tr>
      <tr>
        <th>注文状況</th>
        <td><%= @order.order_status_i18n %></td>
      </tr>
    </table>
  </div>
  <div class="row mt-3">
    <table class="table order-show-table table-striped table-light mx-auto">
      <tr>
        <th>商品合計</th>
        <td class="text-right"><%= @product_total.to_s(:delimited) %>円</td>
      </tr>
      <tr>
        <th>送料</th>
        <td class="text-right">200円</td>
      </tr>
      <tr>
        <th>請求金額合計</th>
        <td class="text-right"><strong><%= @order.total_price.to_s(:delimited) %>円</strong></td>
      </tr>
    </table>
  </div>
  <div class="card order-show-item-card mt-3 p-2 mx-auto">
    <div class="row">
    <% @order_details.each do |order_detail| %>
      <div class="card order-detail-card p-1 mt-1 mb-1 text-dark mx-auto">
        <div class="row">
          <div class="col-4">
            <div class="card-img-top"><%= image_tag order_detail.item.image, class: "item-img" %></div>
          </div>
          <div class="col-8">
            <h5 class="card-title long-name"><%= order_detail.item.name %></h5>
            <div class="row">
              <div class="col-7">
                <p>価格 <%= order_detail.item.with_tax_price.to_s(:delimited) %> 円</p>
              </div>
              <div class="col-5">
                <p>数量: <%= order_detail.amount %></p>
              </div>
            </div>
          </div>
        </div>
        <div class="order-show-border"></div>
        <div class="row">
          <div class="col-6">
            <h6 class="text-left">小計</h6>
          </div>
          <div class="col-6">
            <h6 class= "text-right"><strong><%= order_detail.subtotal.to_s(:delimited) %> 円</strong></h6>
          </div>
        </div>
      </div>
    <% end %>
    </div>
  </div>
  <div class="page-under"></div>
</div>