<div class="container">
  <div class="row mt-5">
    <h3>ログイン</h3>
  </div>
  <%= form_with model: @customer, url: customer_session_path, method: :post do |f| %>
  <div class="row mt-3">
    <div class="col-8 mx-auto">
      <%= f.label :メールアドレス %><br />
      <%= f.email_field :email, autocomplete: "email", class: "form-control" %>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-8 mx-auto">
      <%= f.label :パスワード %><br />
      <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
    </div>
  </div>
  <div class="row btn-row mt-5">
    <%= f.submit "ログイン", class: "btn btnlog" %>
  </div>
  <% end %>
  <div class="row">
    <p class="mt-5 mx-auto">新規登録は<%= link_to "こちら", new_customer_registration_path %></p>
  </div>
</div>