<div class="container">
  <div class="row" style="margin-top: 30px;"></div>
  <div class="card p-2 mt-5 text-dark">
    <div class="row">
      <div class="col-12">
        <div class="card-img-top"><%= image_tag @item.image, style: "width: 100%;" %></div>
      </div>
      <div class="col-12 mt-1">
        <h4><strong><%= @item.name %></strong></h4>
        <h4><strong>¥ <%= @item.with_tax_price.to_s(:delimited) %></strong></h4>
        <p class="explanation-text"><%= @item.explanation %></p>
        <i class="fas fa-store-alt"></i> <span><%= @item.store.name %></span>
      </div>
    </div>
    <% if @item.stock == 0 %>
      <p class="mt-3 mx-auto text-danger">この商品は現在売り切れです。</p>
    <% elsif @item.stock < 10 %>
      <p class="mt-3 mx-auto text-danger">この商品の在庫は残り<%= @item.stock %>点です。</p>
    <% end %>
  </div>
  <% unless current_customer.nickname == "guestuser" || @item.stock == 0 %>
    <%= form_with model: @cart_item, url: cart_items_path, method: :post do |f| %>
    <div class="row mt-3">
      <div class="col-4 mx-auto">
        <%= f.hidden_field :item_id, value: @item.id %>
        <%= f.hidden_field :customer_id, value: current_customer.id %>
        <%= f.select :amount, *[1..5], { include_blank: "個数" }, class: "form-control" %>
      </div>
    </div>
    <div class="row mt-3" style="justify-content: center;">
      <%= button_tag :type => "submit", class: "btn btncar", style: "background-color: orange; line-height: 40px; width: 50%;" do %>
        <i class="fas fa-shopping-cart"></i> カートにいれる
      <% end %>
    </div>
    <% end %>
  <% else %>
    <div class="row">
      <p class="text-danger w-100 text-center">商品をカートへ入れるにはログインが必要です</p>
    </div>
  <% end %>
  <div class="row">
    <h5 style="margin-bottom: 100px;"></h5>
  </div>
</div>