<div class="container" style="margin-top: 100px;">
  <div class="card p-2 mt-5 text-dark">
    <div class="row">
      <div class="col-12">
        <div class="card-img-top"><%= image_tag @item.image, style: "width: 100%;" %></div>
      </div>
      <div class="col-12 mt-1">
        <h4><strong><%= @item.name %></strong></h4>
        <h4><strong>¥ <%= @item.with_tax_price.to_s(:delimited) %></strong></h4>
        <p class="explanation-text"><%= @item.explanation %></p>
        <i class="fas fa-store-alt"></i> <span><%= @item.store.name %></span>
      </div>
    </div>
  </div>
  <% if customer_signed_in? %>
    <%= form_with model: @cart_item, url: cart_items_path, method: :post do |f| %>
    <div class="row mt-3">
      <div class="col-4 mx-auto">
        <%= f.hidden_field :item_id, value: @item.id %>
        <%= f.hidden_field :customer_id, value: current_customer.id %>
        <%= f.select :amount, *[1..5], { include_blank: "個数" }, class: "form-control" %>
      </div>
    </div>
    <div class="row">
      <div class="mx-auto text-danger"><%= alert %></div>
    </div>
    <div class="row mt-3" style="justify-content: center;">
      <%= f.submit "カートにいれる", class: "btn btn-primary" %>
    </div>
    <% end %>
  <% end %>
  <div class="row">
    <h5 style="margin-bottom: 100px;"></h5>
  </div>
</div>