<header>
  <!--店舗ログイン時-->
  <% if admin_store_signed_in? %>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #c22a1f">
      <a class="navbar-brand" href="/admin">管理者</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <%= link_to "ログアウト", destroy_admin_store_session_path, method: :delete, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to "店舗ページ", admin_store_path(current_admin_store), class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to "商品登録", new_admin_store_item_path(current_admin_store.id), class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to "注文履歴", admin_store_orders_path(current_admin_store.id), class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to "データ確認", admin_store_data_graphs_path(current_admin_store.id), class: 'nav-link' %>
          </li>
        </ul>
      </div>
    </nav>
  <% elsif customer_signed_in? %>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #a6ce39">
      <a class="navbar-brand" href="/">StadiumGourmet</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <%= link_to "新着グルメ", new_gourmets_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to "グルメランキング", rankings_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to "グルメ検索", searches_path, class: 'nav-link' %>
          </li>
          <% if customer_signed_in? %>
            <li class="nav-item">
              <%= link_to "注文履歴", orders_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: 'nav-link' %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>
  <% else %>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #a6ce39">
      <a class="navbar-brand" href="/">StadiumGourmet</a>
    </nav>
  <% end %>
</header>